<% if @products.empty? %>
    <p>You haven't created any new product, Please Add At Least One Product To System</p>
    <%= link_to '<em class="fa fa-plus-circle fa-fw mr-sm"></em> Add New Product <br>'.html_safe, products_new_path, :class => "btn btn-primary pull-center" %>
<% else %>
  <div class="row">
      <form method="post" action="create" novalidate="novalidate">
       <div class="col-md-9">
          <div class="container-xl">
             <!-- Checkout Process-->
                <div id="accordion" class="panel-group">
                   <div class="panel b">
                      <div class="panel-heading">
                         <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#acc1collapse6">Please Select The Product</a>
                         </h4>
                      </div>
                      <div id="acc1collapse6" class="panel-collapse collapse in">
                         <div id="collapse06" class="panel-body">
                            <div class="table-responsive">
                               <table class="table">
                                  <colgroup>
                                     <col span="1" class="order-qty" />
                                     <col span="1" class="order-qty" />
                                     <col span="1" class="order-total" />
                                  </colgroup>
                                  <thead class="bg-gray-lighter">
                                     <tr>
                                        <th class="wd-xl">Product Name</th>
                                        <th class="wd-xl">Quantity</th>
                                        <th class="wd-xl">Price Of Product</th>
                                        <th></th>
                                     </tr>
                                  </thead>
                                  <tbody class="input_fields_wrap">
                                    <tr>
                                        <td class="order-item-content">
                                          <select id="products_list" class="form-control wd-xl" name="product_id" >
                                            <% @products.each do |product| %>
                                               <option class="form-control" value="<%= product.id %>"><%= product.name %></option>
                                            <% end %>
                                          </select>
                                        </td>
                                        <td class="order-item-content">
                                          <input type="number" name="quantity_of_the_product" value="1" min="1" step="1" class="form-control" />
                                        </td>
                                        <td class="order-item-content">
                                          <input type="number" name="price_of_the_product" value="1" min="1" step="1" class="form-control" />
                                        </td>
                                    </tr>
                                  </tbody>
                               </table>
                            </div>
                            <div class="mt-lg">
                               <button id =submit type="submit" class="btn btn-info">Create The Import</button>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
          </div>
       </div>
     </form>
  </div>

<% end %>
