<div class="content-heading">Products</div>
<div class="table-responsive b0">
   <table id="datatable1" class="table table-striped table-hover">
      <thead>
         <tr>
            <th>
               <strong>Code</strong>
            </th>
            <th>
               <strong>Name</strong>
            </th>
            <th>
               <strong>Description</strong>
            </th>
            <th class="text-center">
               <strong>Action</strong>
            </th>
         </tr>
      </thead>
      <tbody>
          <% @products.each_with_index do |product, index| %>
            <tr>
               <td><%= product.code %></td>
               <td><%= product.name %></td>
               <td><%= product.description %></td>
               <td class="text-center">
                  <%= link_to 'Edit', controller: "products", action: "show", id: product.id %>
               </td>
            </tr>
          <% end %>
      </tbody>
   </table>
</div>
