<div class="content-heading">Update Product</div>
<form class="panel" id="form_update_product" method="post" action="update" data-parsley-validate="" novalidate="">
   <div role="tabpanel">
      <ul class="nav nav-tabs nav-justified">
         <li role="presentation" class="active"><a href="#edit" aria-controls="edit" role="tab" data-toggle="tab">Update Product</a>
         </li>
      </ul>
      <div class="tab-content">
         <div id="edit" role="tabpanel" class="tab-pane active">
           <fieldset hidden>
              <div class="form-group">
                 <label class="col-md-2 control-label">Name Of Product:</label>
                 <div class="col-md-10">
                    <input type="text" value="<%= @product.id %>"  placeholder="Enter Name Of The Product"  name="product_id" class="form-control" required="required">
                 </div>
              </div>
           </fieldset>
            <fieldset>
               <div class="form-group">
                  <label class="col-md-2 control-label">Name Of Product:</label>
                  <div class="col-md-10">
                     <input type="text" value="<%= @product.name %>"  placeholder="Enter Name Of The Product"  name="product_name" class="form-control" required="required">
                  </div>
               </div>
            </fieldset>
            <fieldset>
               <div class="form-group">
                  <label class="col-md-2 control-label">Description:</label>
                  <div class="col-md-10">
                     <textarea cols="5" placeholder="Short description.." name="product_description" class="form-control"><%= @product.description %></textarea>
                  </div>
               </div>
            </fieldset>
         </div>
      </div>
   </div>
</form>
<div class="text-right mt-lg">
   <%= link_to '<button type="button" class="btn btn-warning">Discard</button>'.html_safe, products_path %>
   <button id="action_update_product" type="button" class="btn btn-success" >Save</button>
</div>
